.body{
    background-image: url(img2.png);
    background-repeat: no-repeat;
    background-size: 1550px;
    backface-visibility: visible;
}
.loginimg{
    padding: 0 auto;
    margin-left: 60px;
}
.box{
    box-shadow:  0 0 35px 15px black;
    padding: 20px 20px;
}