/* .body{
    background-image: url(img2.png);
    background-repeat: no-repeat;
    background-size: 1550px;
    backface-visibility: visible;
} */
.body {
    /* background-color: #0093E9;
    background-image: -webkit-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: -moz-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: -o-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
    background-image: url(img2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh; /* Ensures the body covers the full viewport height */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    display: flex; /* Allows centering or layout adjustments */
    align-items: center; /* Aligns content vertically */
    justify-content: center; /* Aligns content horizontally */
}

.loginimg {
    padding: 0 auto;
    margin-left: 60px;
}

.box {
    box-shadow: 0 0 35px 15px black;
    padding: 20px 20px;
}