.bg-img-footer {
    background: url("https://www.shutterstock.com/image-vector/green-house-woods-260nw-244921357.jpg") no-repeat center;
    background-size: cover;
    background-position: center;
    height: 400px;
}
