.bg-img-footer{
    background: url("https://static.vecteezy.com/system/resources/previews/003/392/837/non_2x/grey-landscape-with-trees-and-village-free-vector.jpg") no-repeat center;
    background-size: cover;
    background-position: center bottom;
    /* position: relative;
    overflow: hidden; */

}