.calculator-container {
    width: 400px;
    margin: 0px;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 0 12px 10px rgba(0, 0, 0, 0.1);
}

.calculator{
    position: relative;
    margin-top: 120px;
}

h1 {
    text-align: center;
    /* color: #ceb018; */
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: large;
    font-size-adjust: calc(0.6);
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 200px;
    margin-left: 75px;
    display: block;
    margin-top: 10px;
}
.result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}