.img1-float{
    animation: Float 1.0s ease-in-out infinite;
    animation-delay: 1s, 1s;   
  }

  @keyframes Float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
  }
.img2-float{
    animation: Float 1.1s ease-in-out infinite;
    animation-delay: 1s, 1s;   
  }

  @keyframes Float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
  }