.btn-submit{
    height:40px;
    text-align: center;
    width:100px;
}
.img3border{
    height: 273px;
    width: 446px;
    padding: 19px;
    background-color: rgba(198, 222, 222, 0.953);
    /* background-color: rgb(209, 202, 202); */
}
.img5{
    box-shadow: 5px 5px 2px 2px rgb(98, 148, 148);
}